# Application settings
APP_NAME="Game API"
APP_DEBUG=false
APP_ENVIRONMENT="development" # development, staging, production
APP_LOG_LEVEL="INFO"
APP_API_VERSION_PREFIX="v1"

# Uvicorn settings
UVICORN_HOST="0.0.0.0"
UVICORN_PORT=8000
UVICORN_RELOAD=false

# CORS settings
CORS_ALLOW_ORIGINS='["http://localhost:3000", "http://127.0.0.1:3000", "http://127.0.0.1:3001", "http://localhost:3001"]'

# WebSocket settings
WS_BASE_URL="ws://localhost:8000"

# Redis settings
REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_PASSWORD="qwezxc"
REDIS_DB=0
REDIS_MAX_CONNECTIONS=10
REDIS_SOCKET_TIMEOUT=5
REDIS_DECODE_RESPONSES=false

# PostgreSQL settings (if you use it)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# PgAdmin settings (if you use it)
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# Secret key for JWT or other stuff
SECRET_KEY=your_super_secret_key_for_jwt_or_other_stuff