# Application settings
APP_NAME="Game API"
APP_DEBUG=false
APP_ENVIRONMENT="development" # development, staging, production
APP_LOG_LEVEL="INFO"
APP_API_VERSION_PREFIX="v1"
APP_HOST="0.0.0.0"
APP_PORT=8000
APP_RELOAD=false

# CORS settings
CORS_ALLOW_ORIGINS='["http://localhost:3000", "http://127.0.0.1:3000", "http://127.0.0.1:3001", "http://localhost:3001"]'

# WebSocket settings
WS_BASE_URL="ws://localhost:8000"

# Redis settings
REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_PASSWORD="qwezxc"
REDIS_DB=0
REDIS_MAX_CONNECTIONS=10
REDIS_SOCKET_TIMEOUT=5
REDIS_DECODE_RESPONSES=false

# PostgreSQL settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# PgAdmin settings
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# RabbitMQ settings
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# Secret key for JWT
JWT_SECRET_KEY=your_super_secret_key_for_jwt
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXPIRE_HOURS=24 # 24 hours
JWT_COOKIE_SECURE = false #
