.solo-button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 20px;  /* Это создаст отступ между кнопками */
    cursor: pointer;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: #282c34;
    transition: background-color 0.3s ease;
  }
  
  .solo-button:hover {
    background-color: #4eaecf;
  }
  
  .solo-button:active {
    background-color: #3b8faf;
  }
  