.card-svg {
    width: var(--card-width-table);
    /* height: var(--card-height-table); */
}

.deck__trump-card {
    width: var(--card-width-table);
    /* height: var(--card-height-table); */
    border-radius: var(--border-radius-card);
    transform: rotate(90deg);
    position: relative;
    left: 50%;
  }

.deck__trump-suit {
    position: relative;
    left: 150%;
    width: calc(var(--card-width-table) * 0.95);
}
